// breakpoints
$medium: 768px !default;
$large: 1366px !default;

:root {
  // sizes
  --stories-width: 436px;
  --map-border-radius: 25px;
  // easings
  --easing: cubic-bezier(0.33, 0, 0.2, 1);

  // colors
  --c-grey-light: #e5e5e5;
  --c-grey-light-rgb: 229, 229, 229;

  // z-index
  --z-gradient: 10;
  --z-pagination: 20;
  --z-content: 25;
  --z-navigation: 30;
  --z-map: 40;
}
